body {
    background-color: lightgray
}

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 15px;
}
#nameBox {
    background-color: orangered;
    color: whitesmoke;
    font-weight: bold;
    padding: 15px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

.nav {
    display: flex;
    border-bottom:1px solid black;
    height: 60px;
    width: 100%;
    padding-bottom: 30px;
    position: fixed;
    z-index: 1;
}

.nav-item {
    display: flex;
    align-items: right;
}

.aboutBox {
    background-color: whitesmoke;
    margin-top: 8%;
    /* padding: 30px; */
    /* border: 1px solid gray; */
    font-family: 'Times New Roman', Times, serif;
    
}

.contactBox {
    display: flex;
    width: 60%;
    background-color: whitesmoke;
    margin-top: 8%;
    /* padding: 30px; */
    /* border: 1px solid gray; */
    font-family: 'Times New Roman', Times, serif;
}

.portfolioBox {
    display: flex;
    flex-flow: column wrap;
    margin-top: 8%;
    background-color: whitesmoke;

}
.form-group {
    width: auto;
}
/*figure out how to expand the width of the boxes. put a margin around the container to create gap above box*/


h3 {
    display: flex;
    font-weight: bold;
    color: teal;
    border-bottom: 2px solid lightgray;
    padding: 10px 30px 30px 15px;
}

.float {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

footer {
    display: flex;
    background-color: darkgray;
    border-top: 5px solid teal;
    color: whitesmoke;
    height: 60px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    position: fixed;
}

/*once containers have been applied, reformat css for #nameBox and .navbar so #nameBox lives inside .navbar and fits the height automatically for all screen sizes